.side-nav .collapsible a.active,
.side-nav .collapsible a:hover,
.side-nav .collapsible>li {
    border-radius: 2px
}

.side-nav .about,
.side-nav .social {
    border-bottom: 1px solid rgba(153, 153, 153, .3)
}

.mdb-autocomplete-clear svg {
    fill: #a6a6a6
}

.mdb-autocomplete-wrap {
    position: absolute;
    right: 0;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    z-index: 100;
    max-height: 210px;
    padding-left: 0
}

.mdb-autocomplete-wrap li {
    cursor: pointer;
    padding: 12px 15px;
    font-size: .875rem
}

.mdb-autocomplete-wrap li:hover {
    background: #eee
}

.jarallax,
.side-nav {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.jarallax {
    min-height: 700px
}

.side-nav {
    position: fixed;
    width: 240px;
    top: 0;
    margin: 0;
    height: 100%;
    height: -webkit-calc(100%+ 60px);
    height: calc(100%+ 60px);
    height: -moz-calc(100%);
    color: #d8d8d8;
    background-color: #2c2f34;
    z-index: 999;
    -webkit-backface-visibility: hidden;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
    -ms-transform: translateX(-105%);
    transform: translateX(-105%);
    padding: 0
}

.side-nav ul {
    list-style-type: none
}

.side-nav ul li {
    padding: 0
}

.side-nav.right-aligned {
    right: 0;
    left: auto;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%)
}

.side-nav .collapsible {
    margin: 0;
    padding: 0
}

.side-nav .collapsible li a:hover {
    background-color: rgba(0, 0, 0, .15)
}

.side-nav .collapsible>li a.collapsible-header.active,
.side-nav .collapsible>li a.collapsible-header:hover {
    background-color: rgba(255, 255, 255, .15)
}

.side-nav .collapsible ul {
    padding: 0;
    list-style-type: none
}

.side-nav .collapsible a {
    color: #fff;
    font-weight: 300;
    font-size: .8rem
}

.side-nav .collapsible .fa {
    font-size: .8rem;
    margin-right: 13px
}

.side-nav .collapsible-body a {
    padding-left: 47px;
    height: 36px;
    line-height: 36px;
    background-color: rgba(0, 0, 0, .15)
}

.side-nav a {
    display: block;
    font-size: 1rem;
    height: 56px;
    line-height: 56px;
    padding-left: 20px
}

.side-nav .logo-wrapper {
    height: 140px
}

.side-nav .logo-wrapper a {
    height: 140px;
    width: 240px;
    padding: 0
}

.side-nav .logo-wrapper img {
    height: auto;
    padding: 20% 50px
}

@media (max-height: 992px) {
    .side-nav .logo-wrapper,
    .side-nav .logo-wrapper a {
        height: 80px
    }
    .side-nav .logo-wrapper img {
        padding: 7% 50px
    }
}

.side-nav .about {
    padding: 1rem
}

.side-nav .about p {
    margin-bottom: 0
}

.side-nav .social {
    padding: 0
}

.side-nav .social li {
    display: inline-block;
    padding: 0;
    margin: 0
}

.side-nav .social a {
    padding: 0 .6rem;
    margin: 0
}

.side-nav .social .fa {
    color: #dbe4e7
}

.side-nav .search-form {
    padding: 0
}

.side-nav .search-form input[type=text] {
    border-bottom: 1px solid #fff;
    font-weight: 300;
    padding-left: 30px;
    box-sizing: border-box;
}

.side-nav .search-form input[type=text]:-moz-placeholder {
    color: #fff!important
}

.side-nav .search-form input[type=text]::-ms-placeholder {
    color: #fff!important
}

.side-nav .search-form input[type=text]::-webkit-input-placeholder {
    color: #fff!important
}

.side-nav .search-form input[type=text]::-moz-placeholder {
    color: #fff!important
}

.side-nav .search-form input[type=text]:-ms-input-placeholder {
    color: #fff!important
}

.side-nav .search-form input[type=text]::placeholder {
    color: #fff!important
}

.side-nav .search-form .form-control {
    margin-bottom: 0
}

.side-nav .sn-avatar-wrapper {
    padding-left: 33%;
    padding-right: 33%;
    padding-top: 10%
}

.side-nav .sn-avatar-wrapper img {
    margin: 0;
    padding: 0;
    max-width: 90px;
    border-radius: 5rem
}

@media only screen and (max-height: 992px) {
    .side-nav .sn-avatar-wrapper {
        padding-left: 40%;
        padding-right: 40%;
        padding-top: 3%
    }
    .side-nav .sn-avatar-wrapper img {
        max-width: 50px
    }
}

.side-nav .sn-ad-avatar-wrapper {
    height: auto;
    margin-bottom: 0
}

.side-nav .sn-ad-avatar-wrapper img {
    max-width: 60px;
    padding: 20px 10px;
    float: left
}

.side-nav .sn-ad-avatar-wrapper p {
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0
}

.side-nav .user-box {
    padding: 20px 10px 0
}

.side-nav .user-box img {
    margin: 0 auto 10px;
    max-width: 80px
}

.side-nav .fa-angle-down.rotate-icon {
    position: absolute;
    right: 0;
    margin-right: 20px;
    margin-top: 10%;
}

.side-nav .sidenav-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 240px;
    z-index: -1;
    background-attachment: fixed
}

.side-nav .sidenav-bg:after {
    width: 100%;
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    margin-bottom: -99999px;
    padding-bottom: 99999px
}

.side-nav.fixed {
    left: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    position: fixed
}

.side-nav.fixed.right-aligned {
    right: 0;
    left: auto
}

@media only screen and (max-width: 1440px) {
    .side-nav.fixed {
        -webkit-transform: translateX(-105%);
        -ms-transform: translateX(-105%);
        transform: translateX(-105%)
    }
    .side-nav.fixed.right-aligned {
        -webkit-transform: translateX(105%);
        -ms-transform: translateX(105%);
        transform: translateX(105%)
    }
}

.side-nav.side-nav-light {
    background-color: #e5e5e5
}

.side-nav.side-nav-light a {
    color: #555;
    font-weight: 400
}

.side-nav.side-nav-light .social .fa {
    color: #555
}

.side-nav.side-nav-light .search-form input[type=text] {
    border-bottom-color: rgba(153, 153, 153, .3);
    color: #555!important
}

.side-nav.side-nav-light .search-form input[type=text]:-moz-placeholder {
    color: #555!important
}

.side-nav.side-nav-light .search-form input[type=text]::-ms-placeholder {
    color: #555!important
}

.side-nav.side-nav-light .search-form input[type=text]::-webkit-input-placeholder {
    color: #555!important
}

.side-nav.side-nav-light .search-form input[type=text]::-moz-placeholder {
    color: #555!important
}

.side-nav.side-nav-light .search-form input[type=text]:-ms-input-placeholder {
    color: #555!important
}

.side-nav.side-nav-light .search-form input[type=text]::placeholder {
    color: #555!important
}

.side-nav.side-nav-light .collapsible-body a {
    background-color: rgba(0, 0, 0, .1)
}

.side-nav.side-nav-light .collapsible li .collapsible-header:hover {
    background-color: rgba(0, 0, 0, .05)
}

.side-nav.side-nav-light .collapsible li .collapsible-header.active {
    color: #4285F4;
    background-color: transparent
}

.drag-target {
    height: 100%;
    width: 10px;
    position: fixed;
    top: 0;
    z-index: 998
}

#sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 997;
    will-change: opacity
}

.side-nav .double-navbar .bc-min {
    padding: 5px 10px
}

.no-padding .fa,
.rating {
    padding: 0
}

.side-nav .double-navbar .bc-min .button-collapse {
    padding-left: 0
}

.side-nav.side-nav-visible {
    transform: translateX(0%);
}

.side-nav .side-brand-name {
    color: #dbe4e7;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 0.6rem;
    display: block;
    padding-top: 1rem;
}

.white-skin {
    /* Select colors */
}

.white-skin .gradient {
    background: #ababab;
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ababab 0%, #fff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(315deg, #ababab 0%, #fff 100%);
    background: linear-gradient(135deg, #ababab 0%, #fff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.white-skin .primary-color,
.white-skin .stepper li.active a .circle,
.stepper li.active a .white-skin .circle,
.white-skin .stepper li.completed a .circle,
.stepper li.completed a .white-skin .circle {
    background-color: #4285F4 !important;
}

.white-skin .navbar {
    background-color: #fff;
    color: #424242;
}

.white-skin .navbar .navbar-nav .nav-item .dropdown-menu a:hover,
.white-skin .navbar .navbar-nav .nav-item .dropdown-menu a:focus,
.white-skin .navbar .navbar-nav .nav-item .dropdown-menu a:active {
    background-color: #2a75f3;
}

.white-skin .navbar .navbar-nav .nav-item a {
    color: #424242;
}

.white-skin .page-footer {
    background-color: #6f7178;
}

.white-skin .side-nav {
    background-color: #F9F9F9;
}

.white-skin .side-nav .logo-wrapper>div {
    background-color: transparent !important;
}

.white-skin .side-nav .sn-avatar-wrapper img {
    border: 3px solid #0d5bdd;
}

.white-skin .side-nav .social a .fa {
    color: #424242;
}

.white-skin .side-nav .social a:hover .fa {
    color: #4285F4 !important;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.white-skin .side-nav .search-form input[type=text] {
    color: #424242;
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

.white-skin .side-nav .search-form input[type=text]::-webkit-input-placeholder {
    color: rgba(66, 66, 66, 0.5) !important;
}

.white-skin .side-nav .search-form input[type=text]:-moz-placeholder {
    color: rgba(66, 66, 66, 0.5) !important;
}

.white-skin .side-nav .search-form input[type=text]::-moz-placeholder {
    color: rgba(66, 66, 66, 0.5) !important;
}

.white-skin .side-nav .search-form input[type=text]::-ms-placeholder {
    color: rgba(66, 66, 66, 0.5) !important;
}

.white-skin .side-nav .search-form input[type=text]::-webkit-input-placeholder {
    color: rgba(66, 66, 66, 0.5) !important;
}

.white-skin .side-nav .search-form input[type=text]::-moz-placeholder {
    color: rgba(66, 66, 66, 0.5) !important;
}

.white-skin .side-nav .search-form input[type=text]:-ms-input-placeholder {
    color: rgba(66, 66, 66, 0.5) !important;
}

.white-skin .side-nav .search-form input[type=text]::placeholder {
    color: rgba(66, 66, 66, 0.5) !important;
}

.white-skin .side-nav .collapsible li {
    background-color: transparent;
}

.white-skin .side-nav .collapsible li a {
    font-weight: 400;
}

.white-skin .side-nav .collapsible li .collapsible-header {
    color: #424242;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.white-skin .side-nav .collapsible li .collapsible-header.active {
    color: #4285F4;
    background-color: transparent;
}

.white-skin .side-nav .collapsible li .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.white-skin .side-nav .collapsible li .collapsible-body a {
    color: #424242;
}

.white-skin .side-nav .collapsible li .collapsible-body a:hover {
    color: #4285F4;
}

.white-skin .side-nav .fa {
    color: #424242;
}

.white-skin .side-nav .sidenav-bg:after,
.white-skin .side-nav .sidenav-bg.mask-strong:after {
    background: rgba(255, 255, 255, 0.8);
}

.white-skin .side-nav .sidenav-bg.mask-light:after {
    background: rgba(255, 255, 255, 0.65);
}

.white-skin .side-nav .sidenav-bg.mask-slight:after {
    background: rgba(255, 255, 255, 0.5);
}

.white-skin .btn-primary {
    background-color: #4285F4;
}

.white-skin .btn-primary:hover {
    background-color: #5a95f5 !important;
}

.white-skin .btn-primary:focus,
.white-skin .btn-primary:active,
.white-skin .btn-primary.active {
    background-color: #0d5bdd !important;
}

.white-skin .btn-primary.dropdown-toggle {
    background-color: #4285F4 !important;
}

.white-skin .btn-primary.dropdown-toggle:hover,
.white-skin .btn-primary.dropdown-toggle:focus {
    background-color: #5a95f5 !important;
}

.white-skin .btn-secondary {
    background-color: #fc685f;
}

.white-skin .btn-secondary:hover {
    background-color: #fc8078 !important;
}

.white-skin .btn-secondary:focus,
.white-skin .btn-secondary:active,
.white-skin .btn-secondary.active {
    background-color: #fb2114 !important;
}

.white-skin .btn-secondary.dropdown-toggle {
    background-color: #fc685f !important;
}

.white-skin .btn-secondary.dropdown-toggle:hover,
.white-skin .btn-secondary.dropdown-toggle:focus {
    background-color: #fc8078 !important;
}

.white-skin .btn-default {
    background-color: #454545;
}

.white-skin .btn-default:hover {
    background-color: #525252 !important;
}

.white-skin .btn-default:focus,
.white-skin .btn-default:active,
.white-skin .btn-default.active {
    background-color: #1f1f1f !important;
}

.white-skin .btn-default.dropdown-toggle {
    background-color: #454545 !important;
}

.white-skin .btn-default.dropdown-toggle:hover,
.white-skin .btn-default.dropdown-toggle:focus {
    background-color: #525252 !important;
}

.white-skin .card .btn-action {
    background: #454545;
}

.white-skin .card .btn-action:hover,
.white-skin .card .btn-action:focus {
    background-color: #525252 !important;
}

.white-skin .card .btn-action.active {
    background-color: #121212 !important;
}

.white-skin input[type="email"]:focus:not([readonly]),
.white-skin input[type="text"]:focus:not([readonly]),
.white-skin input[type="password"]:focus:not([readonly]),
.white-skin textarea.md-textarea:focus:not([readonly]) {
    border-color: #4285F4;
    -webkit-box-shadow: 0 1px 0 0 #4285F4;
    box-shadow: 0 1px 0 0 #4285F4;
}

.white-skin input[type="email"]:focus:not([readonly])+label,
.white-skin input[type="text"]:focus:not([readonly])+label,
.white-skin input[type="password"]:focus:not([readonly])+label,
.white-skin textarea.md-textarea:focus:not([readonly])+label {
    color: #4285F4;
}

.white-skin input[type=checkbox]:checked+label:before {
    border-right: 2px solid #4285F4;
    border-bottom: 2px solid #4285F4;
}

.white-skin input[type=checkbox].filled-in:checked+label:before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.white-skin input[type=checkbox].filled-in:checked+label:after {
    background-color: #4285F4;
    border-color: #4285F4;
}

.white-skin .md-form .prefix.active {
    color: #4285F4;
}

.white-skin .dropdown-content li:not(.disabled) span {
    color: #4285F4;
}

.white-skin .top-nav-collapse {
    background-color: #fff;
}

.white-skin .carousel-multi-item .controls-top>a,
.white-skin .carousel-multi-item .carousel-indicators li,
.white-skin .carousel-multi-item .carousel-indicators li.active {
    background-color: #4285F4;
}

.white-skin .form-header,
.white-skin .card-header {
    background-color: #4c8bf5;
}

.white-skin .spinner-primary-color,
.white-skin .spinner-primary-color-only {
    border-color: #4285F4;
}

.white-skin .pagination-primary-color .page-item.active .page-link,
.white-skin .pagination-primary-color .page-item.active .page-link:focus,
.white-skin .pagination-primary-color .page-item.active .page-link:hover {
    color: #fff;
    background-color: #4285F4;
    border-color: #4285F4;
}

.white-skin .pagination-primary-color .page-link {
    color: #4285F4;
}