body {
    margin-top: 100px;
}

.navbar {
    background: #fff;
}

.navbar .brand-name {
    font-weight: 500;
    font-size: 20px;
    color: #4285F4;
    text-transform: uppercase;
    margin-bottom: 6px !important;
    margin-left: 12px !important;
}

.navbar .fa-bars {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.67);
}

.navbar .dropdown-menu {
    right: 0 !important;
    left: unset;
    min-width: 6rem;
    padding: 0 !important;
}

.form-elegant .font-small {
    font-size: 0.8rem;
}

.form-elegant .z-depth-1a {
    -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
    box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
}

.form-elegant .z-depth-1-half,
.form-elegant .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
    box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.nav-link {
    color: #4285F4 !important;
}

.tabs-wrapper .nav-link {
    display: block;
    padding: 20px 24px;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7) !important;
    text-align: center;
    border-radius: 0;
    font-weight: 400;
}

.card {
    border-radius: 2px;
}

.header-wrapper {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    height: 64px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 99;
}

.navbar {
    box-shadow: none;
    max-width: 1140px;
    margin: 0 auto;
}

.classic-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    border-radius: 0.1rem 0.1rem 0 0;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.classic-tabs li a.active {
    border-bottom: 3px solid;
    color: rgba(0, 0, 0, 0.67) !important;
}

.classic-tabs.tabs-primary li a.active {
    border-color: #FFFFFF;
    margin-left: 15px;
}

.classic-tabs.tabs-primary .btn-sm {
    position: absolute;
    right: 40px;
    top: 10px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16), 0 0px 2px 0 rgba(0, 0, 0, .12);
}

.tabs-incomplte {
    background-color: #ffbb33 !important;
}

.tabs-completed {
    background-color: #00c750 !important;
}

.tab-content>.active {
    box-sizing: border-box;
    padding: 4px;
    background: rgba(249, 248, 246, 0.64);
}

.list-group-item {
    background-color: rgba(255, 187, 51, 0.14);
    border: 0px solid rgba(0, 0, 0, .125);
    margin: 2px 0px;
    border-radius: 1px !important;
    color: rgba(0, 0, 0, 0.67) !important;
    padding-bottom: 0;
    cursor: move;
}

.completed .list-group-item {
    background-color: rgba(0, 199, 80, .14) !important;
}

.list-group-item .badge {
    box-shadow: none !important;
    background-color: transparent !important;
    border-color: transparent !important;
    color: rgba(0, 0, 0, 0.67) !important;
    font-weight: 100;
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
}

.list-group-item .title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0px;
    cursor: default;
}

.list-group-item .desc {
    font-weight: 300;
    font-size: 15px;
    cursor: default;
}

.list-group-item .author {
    position: absolute;
    bottom: 0;
    right: 20px;
    cursor: default;
}

.btn-floating {
    z-index: 1;
    overflow: hidden;
    width: 47px;
    height: 47px;
    padding: 0;
    border-radius: 50%;
    background-color: #a6c;
    -webkit-transition: .3s;
    transition: .3s;
}

.btn-floating {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.peach-gradient {
    background: -webkit-linear-gradient(50deg, #FFD86F, #FC6262);
    background: linear-gradient(40deg, #FFD86F, #FC6262);
}

.btn-floating:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.btn-floating.btn-sm,
.btn-floating.btn-small,
.btn-floating.wishlist {
    width: 36.15px;
    height: 36.15px;
    box-sizing: border-box;
    padding: 1px 12px;
}

.btn-floating i {
    display: inline-block;
    color: rgba(0, 0, 0, 0.47) !important;
}

.btn-floating.btn-sm i {
    font-size: .96154rem;
    line-height: 36.15px;
}

.list-group-item.create {
    background-color: rgba(255, 187, 51, 0.34);
    padding-bottom: 10px;
    margin-top: -130px;
    opacity: 0;
    transition: margin-top 0.3s ease-in;
}

.list-group-item.create.visible {
    max-height: 130px;
    margin-top: 0px;
    opacity: 1;
    transition: margin-top 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.list-group-item.create .md-form {
    margin: 0;
}

.list-group-item.create .md-form .form-control {
    height: auto;
    margin: 0;
    line-height: normal !important;
    font-size: 14px;
}

.list-group-item.create .md-form label {
    font-size: 16px;
}

.list-group-item.create .md-form .btn-success,
.list-group-item.create .md-form .btn-default {
    margin-bottom: 0;
    float: right;
    margin-right: 0;
}

.drag-over {
    border: dashed 1px;
}