<div *ngIf="message" id="toast-container" class="toast-bottom-right" aria-live="polite" role="alert">
    <div [ngClass]="{'toast': message, 'toast-success': message.type === 'success','toast-error': message.type === 'error','toast-warning': message.type === 'warning','toast-info': message.type === 'info' }">
        <div class="toast-message">{{message.text}}</div>
    </div>
</div>