<app-header></app-header>
<router-outlet></router-outlet>
<div id="spinner-container">
    <div class="toast" style="background-color: #bb0cc4 !important;">
        <div class="spinner">
            <div class="sk-circle" style="float: left;">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
            <span class="label">Working ...</span>
        </div>
    </div>
</div>
<message></message>