<header>
    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
        <div class="breadcrumb-dn mr-auto">
            <p class="brand-name waves-effect">Angular with OOTH</p>
        </div>
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item">
                <a class="nav-link waves-effect"><span class="clearfix d-none d-sm-inline-block">About</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" href="/#/login"><span class="clearfix d-none d-sm-inline-block">Login</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect" href="/#/signup"><span class="clearfix d-none d-sm-inline-block">Register</span></a>
            </li>
        </ul>
    </nav>
</header>
<div class="container">
    <div class="col-md-5 col-centered">
        <section class="form-dark">

            <!--Form without header-->
            <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg');">
                <div class="card-body mx-4">
                    <!--Header-->
                    <div class="text-center">
                        <h3 class="white-text mb-5">Sign Up</h3>
                    </div>
                    <!--Body-->
                    <div class="md-form">
                        <input type="text" id="Form-fullName" class="form-control" [(ngModel)]="registerForm.fullName" (keyup.enter)="register()">
                        <label for="Form-fullName grey-text">Your fullName</label>
                    </div>
                    <div class="md-form">
                        <input type="text" id="Form-email1" class="form-control" [(ngModel)]="registerForm.email" (keyup.enter)="register()">
                        <label for="Form-email1 grey-text">Your email</label>
                    </div>
                    <div class="md-form pb-3">
                        <input type="password" id="Form-pass1" class="form-control" [(ngModel)]="registerForm.password" (keyup.enter)="register()">
                        <label for="Form-pass1 grey-text">Your password</label>
                    </div>
                    <div class="text-center mb-3">
                        <button type="button" class="btn btn-primary btn-block btn-rounded z-depth-1a" (click)="login()">Sign Up</button>
                    </div>
                    <p class="font-small white-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign up with:</p>
                    <div class="row my-3 d-flex justify-content-center">
                        <!--Facebook-->
                        <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fa fa-facebook green-text text-center"></i></button>
                        <!--Twitter-->
                        <button type="button" class="btn btn-white btn-rounded mr-md-3 z-depth-1a"><i class="fa fa-twitter green-text"></i></button>
                        <!--Google +-->
                        <button type="button" class="btn btn-white btn-rounded z-depth-1a"><i class="fa fa-google-plus green-text"></i></button>
                    </div>

                </div>

                <!--Footer-->
                <div class="modal-footer mx-5 pt-3 mb-1">
                    <p class="font-small white-text d-flex justify-content-end">Already have account? <a href="/#/login" class="green-text ml-1"> Sign In</a></p>
                </div>

            </div>
            <!--/Form without header-->

        </section>
    </div>
</div>